{% extends "parent.html" %}

{% block cssfolder %}
<link rel="stylesheet" type="text/css" href="public/css/lib/iview.css">
<link rel="stylesheet" type="text/css" href="public/css/src/base.css" />
<link rel="stylesheet" type="text/css" href="public/css/src/forgetPwd.css" />
{% endblock %}

{% block head_btn %}
<a class="index" href="/">精选</a>
<a class="topicsAbout" href="/topicsAbout">毕设展</a>
<a class="topics" href="/topics">作业荚</a>
{% endblock %}


{% block container %}
<div class="container" :style="containerStyle">
    <div class="recoverPwd_panel">
        <p class="title">忘记密码</p>
        <p style="color:#09bc72;width:40%;margin:20px 80px;text-align: left;">不记得密码了？请输入您的注册邮箱，随后我们将发送一封邮件协助您找回密码。</p>
        <i-form :label-width="80">
            <form-item label="邮箱">
                <i-input v-model="email" placeholder="请输入邮箱"></i-input>
            </form-item>
            <form-item>
                <i-button type="success" @click="submit" long>提交</i-button>
            </form-item>
        </i-form>
    </div>
</div>
{% endblock %}

{% block jsfolder %}
<script type="text/javascript" src="public/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="public/js/lib/vue.min.js"></script>
<script type="text/javascript" src="public/js/lib/iview.min.js"></script>
<script type="text/javascript" src="public/js/lib/vue-resource.js"></script>
<script type="text/javascript" src="public/js/src/config.js"></script>
<script type="text/javascript" src="public/js/src/forgetPwd.js"></script>
{% endblock %}
