{% extends "parent.html" %}

{% block cssfolder %}
	<link rel="stylesheet" type="text/css" href="public/css/src/base.css"/>
	<link rel="stylesheet" type="text/css" href="public/css/lib/iview.css">
	<link rel="stylesheet" type="text/css" href="public/css/src/search.css"/>
	<link rel="stylesheet" type="text/css" href="public/css/src/model.css">
{% endblock %}

{% block head_btn %}
<a class="index" href="/">精选</a>
<a class="topicsAbout" href="/topicsAbout">毕设展</a>
<a class="topics" href="/topics">作业荚</a>
{% endblock %}

{% block container %}
	<div class="container" :style="containerStyle">
		<p class="noResult" v-if="!dataList.length" v-text="'暂无相关作品:'"></p>
		<p class="searchResult" v-if="dataList.length" v-text="'“' + searchModelValue + '”相关作品:'">:</p>
		<ul class="de_project_grid">
			<row>
				<i-col :xs="24" :sm="12" :md="8" :lg="8" v-for="item in dataList">
					<li class="de_card_m">
						<div class="user_info">
							<a :href="'/users/'+item._source.user.Id">
								<img class="photo" :src="item._source.user.avatarUrl? item._source.user.avatarUrl : 'http://pinwall.design-engine.org/images/default_profile.jpg'">
								<p class="name" v-text="item._source.user.fullname"></p>
								<p class="date" v-text="item._source.createAt.split('T')[0]"></p>
							</a>
						</div>
						<div class="project_info">
							<a :href="'/project/'+item._source.Id" target="_blank">
								<!-- <img class="thumb" :src="item._source.profileImage? item._source.profileImage : 'http://pinwall.design-engine.org/images/default_profile.jpg'"> -->
								<img class="thumb" v-lazy="item._source.profileImage" loading="../public//images/default_thumb_500.png">
								<h4 v-text="item._source.name"></h4>
							</a>
						</div>
						<div class="de_stats_tags_p">
							<div class="badges" title="勋章">
								<icon type="ios-ribbon" style="font-size: 22px;" color="#999"></icon>
								<span v-text="item._source.medalCount"></span>
							</div>
							<div class="likes" title="赞">
								<icon type="ios-thumbs-up" style="font-size: 22px;" color="#999"></icon>
								<span v-text="item._source.likeCount"><span>
							</div>
							<div class="comments" title="评论">
								<icon type="md-chatboxes" style="font-size: 22px;" color="#999"></icon>
								<span v-text="item._source.commentCount"></span>
							</div>
						</div>
					</li>
				</i-col>
			</row>
		</ul>
	</div>
	<!-- 搜索弹出层 -->
	<modal v-model="searchModel" title="探索" footer-hide :width="modelWidth">
	   <div class="search_panel">
			<div class="search_input_result">
				<i-input v-model="searchModelValue" @on-enter="searchModelData" @on-change="searchDataChange" placeholder="作品关键词/课程/学生/老师" style="width:80%;margin-left:10%;margin-top:30px;" clearable autofocus></i-input>
				<div style="width:80%;margin-left:10%;">
					<i-table v-show="searchModelDataList.length" :columns="columns1" :data="searchModelDataList" @on-row-click="selectItem"></i-table>
				</div>
		   </div>
		   <div class="search_type">
			   <h3>按主题分类查看...</h3>
			   <ul class="directory_list">
				   <li>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('产品设计')">产品设计</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('交互设计')">交互设计</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('界面设计')">界面设计</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('交通工具设计')">交通工具设计</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('服务设计')">服务设计</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('平面设计')">平面设计</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('影像设计')">影像设计</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('工业设计史')">工业设计史</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('汽车造型设计理论与研究')">汽车造型设计理论与研究</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('设计概论')">设计概论</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('计算机辅助设计3')">计算机辅助设计3</i-button>
					   <i-button type="text" style="color:#09bc72;" @click="toSearch('数字界面原型')">数字界面原型</i-button>
				   </li>
			   </ul>
		   </div>
	   </div>
	</modal>
{% endblock %}

{% block jsfolder %}
	<script type="text/javascript" src="../public/js/lib/vue-lazyload.js"></script>
	<script type="text/javascript" src="public/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="public/js/lib/vue.min.js"></script>
	<script type="text/javascript" src="public/js/lib/iview.min.js"></script>
	<script type="text/javascript" src="public/js/lib/vue-resource.js"></script>
	<script type="text/javascript" src="public/js/src/config.js"></script>
	<script type="text/javascript" src="public/js/src/search.js"></script>
{% endblock %}
