[v-cloak]{
	display: none;
}
body{
    background-color: #EFEFEF;
}
.container{
	margin: 20px 60px;
}
.search_box{
	display:flex;flex-direction: row;margin-left:60px;align-items: center;
}
.search_box label{
	height: 30px;
    width: 75px;
    line-height: 30px;
}
.search_box .search_input{
    width: 200px;
	margin-left: 10px;
}
.search_box button{
	margin-left: 10px;
}



.footer {
	padding: 5px 0;
	color: #999;
	text-shadow: 0 1px rgba(255, 255, 255, 1);
	font-size: 12px;
	height: 50px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	position: absolute;
	bottom: 0px;
}
